body{
    margin: 0;
    font-family: sans-serif;
    margin-top: -2rem;
  
}

.header{
    
    background-color: blue; 
    background: linear-gradient(50deg,rgb(26, 25, 26) 0% , rgb(22, 22, 78) 30%, rgb(105, 30, 71) 90%);
}
.horizontal-list{
    list-style: none;
    padding: 10px;
     margin-right:-2rem;

}
.horizontal-list li{
    display: inline-block;
    margin-right: 2rem;
    
    
    
    
}
.horizontal-list a{
    color: antiquewhite;
    font-size: 1.5rem;
    transition: ease-in all .5s color border-bottom 0.4s;
    -webkit-transition: ease-in all .5s color border-bottom 0.4s;
    -moz-transition: ease-in all .5s color border-bottom 0.4s;
    -ms-transition: ease-in all .5s color border-bottom 0.4s;
    -o-transition: ease-in all .5s color border-bottom 0.4s;
}
.text-right{
    text-align: right;
}
a{
    text-decoration: none;
}
#websiteName span ,#websiteName h2{
    height: 2px;
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    color: floralwhite;
    font-family: cursive;
    margin-top: 0.2rem;
    padding-top: 1rem;
    padding-bottom: -1rem;
    
    
}
#websiteName{
    
    
    align-items: center !important;
    margin-bottom: -3.4rem !important;
    
}
.nav{
     margin-left: 42vw !important; 
     display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
    
    
    margin-top: 15px;
    
}
#websiteName a:hover{
    color: pink;
    box-shadow: lightgray;
    cursor: pointer;
}
.nav li a:hover{
    color: #03030369;
    text-decoration: underline;
    cursor: pointer;
}
#footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: left;
     margin-left: 10px; 
    width: 100%;
    height: 8%;
}
